%h1 Add Biker
- form_for :biker, :action => url(:action => :create) do
%p
  = text_control :first_name, :label => "First Name"
%p
  = text_control :last_name, :label => "Last Name"
%p
  = submit_button "Create"
- end