%h1= @biker.first_name + " " + @biker.last_name

#logged{:style => "text-align: center"}
  #miles= total_miles @biker
  .text miles logged
  
  
#controlls.clear
  = link_to "edit", url(:edit_biker, @biker)
  \|
  = remote_link "add ride", url(:new_biker_ride, :biker_id => @biker), "#add_ride"
  -#%p= link_to "all riders", url :bikers

#add_ride