* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

a, a:visited {
	color: #666;
}

.clear {
	clear: both;
}
html {
  height: 100%;
  margin-bottom: 1px;
}
body {
	background-color: #EEE;
	padding: 20px;
	font-family: "Helvetica", sans-serif;
	font-size: 12px;
	color: #666;
}
#main {
	background-color: #FFF;
	border: 1px solid #CCC;
	padding: 10px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
form {
	padding: 10px;
}
label {
	display: block;
	float: left;
	clear: left;
	width: 70px;
}

h1, p {
	margin-bottom: .5em;
	margin-top: .5em;
}

#miles {
	font-size: 7em;
	color: black;
	font-family: "Courier";
}

#miles_logged {
	font-size: 2em;
	font-family: "Courier";
	color: black;
}

#logged {
	text-align: center;
	width: 358px;
	background-color: #FFF8D2;
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
	float: left;
}

#chart {
	text-align: center;
	width: 358px;
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
	float: left;
}

#log {
	float: left;
	border: 1px solid black;
	padding: 10px;
	width: 358px;
	margin: 10px;
}

#overview {
	float: left;
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	width: 358px;
}

ul {
	margin: 10px;
}

li {
	list-style-type: none;
	margin: 5px;
	margin-left: 10px;
}

#ride_show_date {
	float: left;
	margin-right: 10px;
	padding-right: 5px;
	border-right: 1px solid #ccc;
}

#ride {
	clear: left;
	display: none;
	margin: 10px;
	border: 1px solid black;
	padding: 10px;
	width: 358px;
}

table {
	width: 300px;
	margin: 10px;
}

th {
	text-align: left;
}

td {
	border: 1px solid #999;
	background-color: #eee;
	padding: 5px;
}