* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

a, a:visited {
	color: #09006D;
}

.clear {
	clear: both;
}
html {
  height: 100%;
  margin-bottom: 1px;
}
body {
	background-color: #EEE;
	padding: 20px;
	font-family: "Helvetica", sans-serif;
	font-size: 12px;
	color: #666;
}
#main {
	background-color: #FFF;
	border: 1px solid #CCC;
	padding: 10px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
form {
	margin: 15px;
	padding: 10px;
	border: 1px solid #CCC;
}
label {
	display: block;
	float: left;
	width: 70px;
}

h1, p {
	margin-bottom: .5em;
	margin-top: .5em;
}

#miles {
	font-size: 10em;
	color: black;
	font-family: "Courier";
}

.text {
	font-size: 2em;
	font-family: "Courier";
	color: black;
}

#logged {
	text-align: center;
	width: auto;
	background-color: #FCFFBB;
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
}