* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

a, a:visited {
	color: #666;
}

.hidden {
	display: none;
}

.clear {
	clear: both;
}
html {
  height: 100%;
  margin-bottom: 1px;
}
body {
	background-color: #222222;
	font-family: "Helvetica", sans-serif;
	font-size: 12px;
	color: #444;
}
#main {
	background-color: #FEFBC9;
	border: 1px solid black;
	padding: 10px;
	margin-top: 100px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	z-index: 0;
}

form {
	padding: 10px;
}
label {
	display: block;
	float: left;
	clear: left;
	width: 70px;
}

h1, p {
	margin-bottom: .5em;
	margin-top: .5em;
}

.miles {
	font-size: 5em;
	color: black;
	font-family: "Courier";
}

.miles_logged {
	font-size: 2em;
	font-family: "Courier";
	color: black;
}

.logged {
	text-align: center;
	width: 358px;
	background-color: #DCDFFF;
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
	float: left;
}

#chart {
	text-align: center;
	width: 358px;
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
	float: left;
}

#log {
	float: left;
	background-color: white;
	border: 1px solid black;
	padding: 10px;
	width: 358px;
	margin: 10px;
}

#overview {
	background-color: white;
	float: left;
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	width: 358px;
}

ul {
	margin: 10px;
}

li {
	list-style-type: none;
	margin: 5px;
	margin-left: 10px;
}

#ride_show_date {
	float: left;
	margin-right: 10px;
	padding-right: 5px;
	border-right: 1px solid #eee;
}

#ride {
	clear: left;
	display: none;
	margin: 10px;
	border: 1px solid black;
	padding: 10px;
	width: 358px;
}

table {
	width: 300px;
	margin: 10px;
}

th {
	text-align: left;
}

td {
	border: 1px solid #999;
	background-color: #eee;
	padding: 5px;
}

.line {
	border-bottom: 1px solid black;
}

.header {
	float: right;
	padding: 10px;
	font-size: 3em;
	color: black;
	border: 1px solid black;
	border-bottom: 1px solid white;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -1px;
	text-align: right;
	font-weight: bold;
}

#total_log {
}

#total_log .month {
	font-weight: bold;
	display: inline;
	margin-right: 5px;
}

.tab {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -31px;
	float: right;
	padding: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: 1px solid black;
	background-color: #ddd;
	font-size: 12px;
/*	font-weight: bold;*/
	top: 17px;
	z-index: -99;
}

.tab.selected {
	border-bottom: 1px solid #FEFBC9;
	background-color: #FEFBC9;
	z-index: 99;
}

#month {
}

#add_ride {
	float: left;
}

#edit {
	float: left;
	background-color: #DCDFFF;
}

.invalid {
	color: red;
}

.valid {
	color: green;
}

#biker_name {
	position: absolute;
	font-size: 1em;
	overflow: hidden;
	color: #000;
	font-family: Courier;
	padding: 2px;
	z-index: 0;
	border: 1px solid black;
	background-color: white;
}

#ride {
	background-color: white;
}

.blue {
	border: 1px solid black;
	padding: 5px;
	background-color: #DCDFFF;
}