%h1== Add ride

- form_for :ride, :action => url(:biker_ride, :biker_id => @biker) do
%p
  = text_control :date, :label => 'date'
%p
  = text_control :distance,  :label => 'distance'
%p
  = text_area_control :notes,  :label => 'notes'
%p
  = submit_button 'add'
- end